<Links>
	HellenicBank = https://www.hellenicbank.com/easyconsole.cfm/page/currencies
	BankOfCyprus = http://www.bankofcyprus.com.cy/en-GB/Cyprus/Services--Rates/Exchange-Rates/
</Links>
<Currencies>
	Base = EUR
	Required = USD,EUR,CHF,JPY,GBP,RUB
	RateThreshold = 5
</Currencies>
<CSV>
	OutputFile = currency_update.csv
</CSV>
<Debug>
	ShowInfo = 1
	ShowError = 1
	ShowWarning = 1
	ShowDebug = 0
	ShowDie = 1
</Debug>
